/*Bestbuy blue color: #003B64*/
/*Bestbuy blue shade: #004B7F*/
/*Bestbuy blue shade: #0096FF*/
/*Bestbuy blue shade: #002640*/
/*Bestbuy blue shade: #0087E5*/


/*Bestbuy yellow color: #FFF200*/


*{
    font-family: 'Lato', sans-serif;
    /*font-family: Lato; src:url("../vendor/fonts/Lato/Lato-Regular.ttf");*/
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
html{
    margin:0;
    padding: 0;

}

/**********************/
/********ALERT REUSABLES*********/
/**********************/

.alert{
    text-align: center;
}

/**********************/
/********FORM INPUTS*********/
/**********************/

.searchbox:before{
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    left: 10px;
    content: "\f002";
}

.searchbox{
    padding: 2px;
}

/**********************/
/********BTNS RESUABLE*********/
/**********************/
.btn{
    padding: 0;
    background-color: rgba(255,242,0,1);
    color: #004B7F;
    padding: 2px 10px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    outline: 0;
}

.btn:hover,
.btn:active{
    background-color: rgba(255,242,0,1);
    box-shadow: 0 0px 15px rgba(255,242,0,0.7);
    outline: none;
}
.btn:focus{
    outline: none;
}
.userbtn{
    float: left;
    display: inline-block;
    margin-right: 4px;
    font-size: 16px !important;
}
/**********************/
/********ICONS*********/
/**********************/

.fa{
    margin-right:4px;
}
/**********************/
/********PHONES*********/
/**********************/

.fa-android{
    color: #A4C639;
    font-size: 2em !important;
    padding-bottom: 10px;
    margin-left: 10px;
}
.fa-apple{
    font-size: 2em !important;
    padding-bottom: 10px;
    margin-left: 10px;
}
.fa-globe{
    font-size: 2em !important;
    margin-left: 18px !important;
    position: relative;
    top:-3px;
}
.fa-credit-card{
    font-size: 1.7em !important;
    padding-bottom: 10px;
    margin-left: 10px;
}
.sprintLogo{
    width: 100%;
    height: auto;
}
.verizonLogo{
    width: 100%;
    height: auto;
}
.attLogo{
    width: 100%;
    height: auto;
}

.selectbox{
    /*padding: 0;*/
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0.5em;
    float: left;
    margin-left: -10%;
    /*width: ;*/
    transform: scale(0.8);
}

/*#vendor-group label,*/
/*#carrier-group label,*/
/*#phone-group label{*/
    /*!*position: relative;*!*/
    /*top: 7px;*/
/*}*/
/*.fa-check{*/
    /*color: green;*/
/*}*/

#phonelist{
    margin-top: 5vh;
    margin-left: 14%
}
.phonerow{
    background-color: #003B64;
    color: white;
    border-radius: 5px;
    margin-left: 8.33%;
    max-width: 86%;
    margin-bottom: 10px;
    padding: 10px 5px 0px 5px;
    /*align-content: center;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*padding-left: 3%;*/
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    transition: all 0.2s;
    /*font-size: 1px !important;*/
}
.phonedata .row{
    display: flex;
    align-items: left;
    text-align: left;
    align-content: left;
    /*padding: 0;*/
}


.col-md-2,
.col-md-1{
    margin-right: 10px;
    /*border-right:1px solid white;*/
    transition: all 0.3s;
}
.col-md-2:hover,
.col-md-1:hover{
    color: #FFF200;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
.phonerow:hover{
    transform: scale(1.1);
}
.phonedata{
    /*border: 1px solid green;*/
    /*font-size: 16px;*/
     /*font-size: 0.8em;*/
    /*padding: 10px;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*display: block;*/
    /*vertical-align: center;*/
    /*horiz-align: left;*/
    padding: 0;
    /*align-content: left;*/
    /*float: left;*/
    display: block;
    align-content: left;
    justify-content: left;
    text-align: left;
}

/*.phonedata p{*/
    /*font-size: 12px;*/
/*}*/

.phonedataTitle{
    /*font-size: 18px;*/
    /*margin-right: 10px;*/
    /*font-size: 1em;*/
    /*padding: 10px;*/
    /*border:1px solid red;*/
    /*text-align: center;*/
    /*display: block;*/
    /*vertical-align: center;*/
    /*horiz-align: left;*/
}

.editusercontainer input{
    margin-top: 7px;
}

@media (min-width: 1024px){
    #editPhoneArea input{
        max-width: 154.26px;
    }
}

@media (max-width: 1024px){
    .phonedataTitle{
        font-size: 0.5em;
        /*text-align: left;*/
        padding: 0;
        /*margin-right: 20px;*/
        /*padding-right: 30px;*/
    }
    .phonedata{
        /*text-align: left;*/
        padding: 0;
        margin: 0 auto;
        font-size: 0.5em;
        /*margin-right: 20px;*/
    }
    .phoneedit input{
        padding: 2px;
        margin-right: 10px;
        font-size: 18px;
        position: relative;
        top:-3px;
        /*max-width: 205.68px;*/
        /*horiz-align: left;*/
    }
    .editusercontainer h2{
        font-size: 0.8em;
    }
    #phonesearchEntry{
        transform: scale(0.6);
        margin-right: -100px;
        /*padding: 5px;*/
    }
    #phonesearchBtn{
        transform: scale(0.5);
        margin-left: -70px;
        margin-top: 2px;
    }
    #editPhoneArea select{
        transform: scale(0.6);
        /*float: left;*/
        margin-left: -30px;
    }
    #editPhoneArea input{
        transform: scale(0.8);
        /*max-width: 10.26px;*/
        /*float: left;*/
    }
    #editPhoneArea label{
        font-size: 0.8em;
        /*float: left;*/
        margin-left: 20px;
    }

    #addPhoneBtn{
        /*transform: scale(0.7);*/
        font-size: 0.8em;
    }
    .sideNavLink{
        font-size: 0.8em;
    }

}

@media (max-width: 1366px){
    #editPhoneArea input{
        /*transform: scale(0.8);*/
        /*max-width: 10.26px;*/
        /*float: left;*/
        width: 276.11px;
        font-size: 14px;
    }
    #editPhoneArea select{
        font-size: 14px;
        /*transform: scale(0.6);*/
        /*margin-left: -45px;*/
        height: 35px;

    }
    #editPhoneArea label{
        font-size: 0.8em;
    }
   .editusercontainer h2{
       font-size: 0.9em;
   }
    #addPhoneBtn{
        /*transform: scale(0.7);*/
        font-size: 0.8em;
    }
    #phonesearchBtn{
        font-size: 0.8em;
    }
    .phonedataTitle{
        font-size: 0.8em;
        /*text-align: left;*/
        /*padding-left: 10px;*/
        /*margin-right: 20px;*/
        /*padding-right: 30px;*/
    }
    .phonedata{
        /*text-align: left;*/
        padding: 0;
        /*margin: 0 auto;*/
        font-size: 0.8em;
        /*margin-right: 20px;*/
    }
    div{
        /*border: 1px solid blueviolet;*/
    }
    .row {
       /*border: 1px solid red;*/
        padding: 0;
        justify-content: center;
        margin:0 auto;
        margin-right: 0;
    }
    .row .container{
        /*margin-right: 10px;*/
        justify-content: left;
        text-align: left;
        align-content: left;
        padding-right: 10px;
        /*margin-right: 200px;*/
    }
}

@media (max-width: 768px){
    .phoneedit input{
        padding: 2px;
        margin-right: 10px;
        font-size: 18px;
        position: relative;
        top:-3px;
        max-width: 148.79px;
        /*horiz-align: left;*/
    }
}
/*@media (max-width: 1440px) {*/
    /*.phonedataTitle{*/
        /*font-size: 0.5em;*/
        /*!*text-align: left;*!*/
        /*padding: 0;*/
        /*!*margin-right: 20px;*!*/
        /*!*padding-right: 30px;*!*/
    /*}*/
    /*.phonedata{*/
        /*!*text-align: left;*!*/
        /*padding: 0;*/
        /*margin: 0 auto;*/
        /*font-size: 0.5em;*/
        /*!*margin-right: 20px;*!*/
    /*}*/
    /*#editPhoneArea label{*/
        /*font-size: 0.9em;*/
        /*!*float: left;*!*/
        /*!*margin-left: 20px;*!*/
    /*}*/

/*}*/

@media (max-width: 1920px) {
    #editPhoneArea input{
        max-width: 404.78px;
    }
}

@media (min-width: 1440px){
    .phonedataTitle{
        font-size: 0.8em;
        /*text-align: left;*/
        padding: 0;
        /*margin-right: 20px;*/
        /*padding-right: 30px;*/
        /*color: purple;*/
    }
    .phonedata{
        /*text-align: left;*/
        padding: 0;
        margin: 0 auto;
        font-size: 0.8em;
        /*margin-right: 20px;*/
    }
    .phoneedit input{
        padding: 2px;
        margin-right: 10px;
        font-size: 18px;
        position: relative;
        top:-3px;
        max-width: 298.11px;
        /*horiz-align: left;*/
    }
    .editusercontainer h2{
        font-size: 0.93em;
    }
}
.phoneedit,
.phonedelete{
    font-size: 16px;
}
.form-group{
    /*border: 1px solid red;*/
}
.phoneedit{
    /*float: left;*/
    /*display: inline-block;*/
    /*margin-bottom: 40px !important;*/
}

#phonedesignation{
    /*margin-right: 10px;*/
}

.phoneedit label{
    font-size: 20px;
    /*horiz-align: left;*/
}

.phoneedit input{
    padding: 2px;
    margin-right: 10px;
    font-size: 18px;
    position: relative;
    top:-3px;
    /*max-width: 401.44px;*/
    /*horiz-align: left;*/
}


.phoneedit span{
    margin-right: 10px;
}
#edit-form-phone .form-group{
    margin-right: 10px;
}
.phone-search{
    text-align: center;
}
#searchPhoneArea{
    margin: 0 auto;
    align-content: center;
    text-align: center;
}
#phone-search div{
    display: inline-block;
}

#phonesearch{
    margin-right: 10px;
    vertical-align: center;
    padding: 2px;
}
#phonesearchBtn{
    vertical-align: center;
    margin-bottom: 5px;
}
#phonesearchEntry{
    padding: 2px;
    margin-right: 10px;
    font-size: 18px;
}

#phonelist .alert{
    margin-left: 8.33%;
    max-width: 83.33%;
}

/**********************/
/********USERS*********/
/**********************/

.active{
    margin-left: 16px;
}
.userrow{
    background-color: #003B64;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 5px 0px 5px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2s;
}
.userrow:hover{
    transform: scale(1.1);
}
#userlist{
    margin-top: 5vh;
    margin-left: 8%;
}
.fa-pencil{
    color:#fe9000;
    /*background-color: #fe9000;*/
}
.fa-trash{
    color: darkred;
}
#role-group label{
    margin-bottom: 17px;
}

.row .btngrp{
  margin-right: -90%;
  margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}
.btngrp a{
    display: inline;
    justify-content: right !important;
    align-content: right;
}
.btngrp .userbtn{
    border: 1px solid #FFF200;
    padding: 0px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #cccccc;
}

#editUserBtn{
    position: relative;
    top:5px;
    margin-left: 20px;
}

/*Bestbuy blue color: #003B64*/
/*Bestbuy blue shade: #004B7F*/
/*Bestbuy blue shade: #0096FF*/
/*Bestbuy blue shade: #002640*/
/*Bestbuy blue shade: #0087E5*/

.useredit{
    color: #ccc;
    /*transform: scale(100);*/
    margin-left: 10px;
    transition: all 0.4s;
    border: 1px solid #FFF200;
    border-radius: 5px;
    padding: 0px 5px;
}
.useredit:hover{
    text-decoration: none;
    color: #FFF200;
}

.userdelete{
    color: #ccc;
    /*transform: scale(100);*/
    margin-left: 10px;
    transition: all 0.4s;
}

.userdata{
    font-size: 0.8em;
}

.userdelete:hover{
    text-decoration: none;
    color: #FFF200;
}

/****************************/
/********EDIT PHONES*********/
/***************************/

.phoneeditRow{
    justify-content: left;
}
.phoneeditRow:nth-child(1){
    border-bottom: 1px solid antiquewhite;
    margin-bottom: 10px;
    /*background: #1e5799; !* Old browsers *!*/
    border-radius: 4px;
    padding-left: 5px;
    /*background: #cedbe9; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg, #cedbe9 0%, #aac5de 5%, #3a84c3 21%, #3a84c3 21%, #6199c7 50%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg, #cedbe9 0%,#aac5de 5%,#3a84c3 21%,#3a84c3 21%,#6199c7 50%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg, #cedbe9 0%,#aac5de 5%,#3a84c3 21%,#3a84c3 21%,#6199c7 50%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
}
.phoneeditRow:nth-child(2){
    text-transform: uppercase;
}
.editPhoneRow{
    margin-top: 20px;
    border-bottom: 2px dashed #cccccc;
    /*padding-bottom: 10px !important;*/
}

.editPhoneRow:last-child{
    border: none;
}


#editPhoneBtn{
    margin-top:50px;
    margin-left: 2rem;
    font-size: 1em;
}
#editphoneForm h2{
    font-size: 20px;
}


/**********************/
/********EDIT USERS*********/
/**********************/
.editUserFormArea{
    margin: 0 auto;
    margin-top:2vh;
    border-radius: 10px;
    width: 40%;
    max-width: 380px;
    background-color: #002640;
    padding-bottom: 40px;
    color:white;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-shadow:         0px 10px 20px 0px rgba(150, 150, 150, 0.22);
}
.editUserFormArea form{
    display: inline;
}
#resetpassBtn{
    color: darkred;
}

.formHeader{
    align-content: center;
    margin:0 auto;
    text-align: center;
    font-size: 400%;
}

.editinput{
    display: inline-block;
    float: left;
    /*border: 1px solid greenyellow;*/
    max-width: 200px;
    width: 16.66%;
    margin-right: 5px;
    overflow: hidden;
    wrap-option: none;
    white-space: nowrap;
}
#editUserArea{
    margin: 0 auto;
}

#editUserArea input{
    font-size: 0.8em;
}
#editUserArea select{
    font-size: 0.8em;
    transform: scale(0.9);
    margin-top:-3px;
}
#editUserArea label{
    font-size: 0.8em;
}

#editUserArea label[for="role"]{
    margin-left: 5px;
}

.editusercontainer{
    background-color: #002640;
    color: white;
    margin: 0 auto;
    /*height: 20vh;*/
    margin-left: 16.66%;
    border: 1px solid white;
    margin-right: 5px;
    /*padding-bottom: 20px;*/
    /*height: 100%;*/
    max-width: 83.33%;

}
.editusercontainer h2{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    /*font-size: 1.4em;*/
    margin-top: 10px;
}

.btn{
    /*border: 1px solid purple;*/
}

#editUserBtn{
    margin-top: 45px;
}
/**********************/
/********NAVBAR*********/
/**********************/
.navbar{
    background-color: #003B64;
    /*border-bottom: 1px solid rgba(255,255,255,0.6);*/
}
.navbar-brand{
    color: #fff;
}

#navLogo{
    width:20%;
    height: 20%;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 10px;
}
#philLogoNav{
    font-size: 200%;
    display: inline-block;
    vertical-align: middle;
}

.navbar-collapse ul{
    text-align: left;
    align-content: center;
}
.welcome{
    color: white;
    float:left;
    position: relative;
    top:10px;
}
.navbar-collapse{
    /*float: right;*/
}
.navbar-collapse li{
display: block;
}
/**********************/
/********VENDORPANEL*********/
/**********************/

#vendorPanel{
    background-color: #002640;
    color: white;
    margin-left: 16.66%;
    border: 1px solid white;
}
.vendorData p{
    font-size: 0.8em;
    margin-right: 30px;
    padding: 5px;
    border: 1px green solid;
    display: inline-block;
    white-space: nowrap;
    float: left;
}
.vendorRow{
    border: 1px red solid;

}
.vendorRow .row{
    float: left;
    justify-content: left;
    /*text-align: left;*/
}



/**********************/
/********SIDENAVBAR*********/
/**********************/

.dbIcon{
    padding-right: 4px !important;
}
#sideNav{
    background-color: #002640;
    margin: 0 auto;
    float: left;
    height: 100vh;
    color:white;
    display: inline-block;
    overflow: hidden;
}
.sideNavLink{
    list-style: none;
    display: inline-block;
    /*float: left;*/
    /*border: 1px solid red;*/
    margin-bottom: 10px;
    text-align: left;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}
.sideNavLink a{
    font-size: 0.8em;
}
.sideNavLink:first-child{
    margin-top: 10px;
}
li a{
    color: #fff;
    transition: color 0.4s;
}
li a:hover{
    text-decoration: none;
    color: #FFF200;
}
#sideNavLinks{
    float: left;
    margin: 0;
    /*border: 1px solid green;*/
    text-align: left;
    padding: 0;
    vertical-align: middle;
    color: white;
}
#sideNavLinks li{
    display: block;
}
.sideNavIcon{
    display: inline-block;
    float: left;
    text-align: left;
    vertical-align: middle;
    padding-top: 6px;
    margin-right: 10px;
}
.largerIcon{
    transform: scale(1.6);
    padding-left: 2px;
    margin-right: 20px;
}
/**********************/
/********LOGIN*********/
/**********************/
.main{
    margin: 0 auto;
    margin-top:26vh;
    border-radius: 10px;
    width: 40%;
    max-width: 380px;
    background-color: #002640;
    padding-bottom: 40px;
    color:white;
    display: none;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-shadow:         0px 10px 20px 0px rgba(150, 150, 150, 0.22);
}
body{
    /*background-color: #858585;*/
    background-color: rgba(0,0,0,0.8);

}

#philLogo {
    display: inline-block;
    font-weight: 100;
    font-size: 400%;
    vertical-align: middle;
    letter-spacing: 2px;
    display: inline-block;
}
#loginArea{
    border: 1px solid white;
    padding-bottom: 10px;
}

.image{
    width:30%;
    height: 40%;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
}

#forgotLink{
    color:white;
    float:right;
    padding-top: 10px;
}
